@model PagedList.PagedList<CosmeticsStore.Models.EF.Product>
@using PagedList.Mvc
@using PagedList;
@{
    ViewBag.Title = "Danh sách sản phẩm";
}
<link rel="stylesheet" type="text/css" href="~/Content/assets/styles/categories_styles.css">
<link rel="stylesheet" type="text/css" href="~/Content/assets/styles/categories_responsive.css">
<style>
</style>
<div class="container product_section_container">
    <div class="row">
        <div class="col product_section clearfix">

            <!-- Breadcrumbs -->

            <div class="breadcrumbs d-flex flex-row align-items-center">
                <ul>
                    <li><a href="san-pham">Sản Phẩm</a></li>
                    <li class="active"><a href="/"><i class="fa fa-angle-right" aria-hidden="true"></i>@ViewBag.CateName</a></li>
                </ul>
            </div>

            <!-- Sidebar -->

            <div class="sidebar">
                <div class="sidebar_section">
                    <div class="sidebar_title">
                        <h5>Danh Mục Sản Phẩm</h5>
                    </div>
                    @Html.Action("MenuLeft", "Menu", new { id = ViewBag.CateId })
                </div>

                <!-- Price Range Filtering -->
                <div class="sidebar_section">
                    <div class="sidebar_title">
                        <h5>Lọc theo Giá</h5>
                    </div>
                    <p>
                        <input type="text" id="amount" readonly style="border:0; font-weight:bold;">
                        <input type="hidden" id="FromAmount" />
                        <input type="hidden" id="ToAmount" />
                    </p>
                    <div id="slider-range"></div>
                    <div class="filter_button"><span>Lọc</span></div>

                    <hr />
                    @Html.Action("Refesh", "Home")
                </div>
            </div>

            <!-- Main Content -->

            <div class="main_content">

                <!-- Products -->

                <div class="products_iso">
                    <div class="row">
                        <div class="col-10">

                            <!-- Product Sorting -->

                            <div class="product_sorting_container product_sorting_container_top">
                                <ul class="product_sorting">
                                    <li>
                                        <span class="type_sorting_text">Sắp xếp</span>
                                        <i class="fa fa-angle-down"></i>
                                        <ul class="sorting_type">
                                            <li><a style="color: #fe4c50" href="~/Products/index">Mặc Định</a></li>
                                            <li><a style="color: #fe4c50" href="~/Products/SortByName">A -> Z</a></li>
                                            <li><a style="color: #fe4c50" href="~/Products/SortByNameZA">Z -> A</a></li>
                                            <li><a style="color: #fe4c50" href="~/Products/SortByPrice">Giá Tăng Dần</a></li>
                                            <li><a style="color: #fe4c50" href="~/Products/SortByPriceGiam">Giá Giảm Dần</a></li>
                                        </ul>
                                    </li>
                                    @*<li>
                                            <span>Show</span>
                                            <span class="num_sorting_text">6</span>
                                            <i class="fa fa-angle-down"></i>
                                            <ul class="sorting_num">
                                                <li class="num_sorting_btn"><span>6</span></li>
                                                <li class="num_sorting_btn"><span>12</span></li>
                                                <li class="num_sorting_btn"><span>24</span></li>
                                            </ul>
                                        </li>*@
                                </ul>

                            </div>

                        </div>
                        <div class="col-2">
                            <form>
                                @using (Html.BeginForm("index", "Products", FormMethod.Post, new { }))
                                {
                                    <div class="search-box">
                                        <input id="Searchtext" name="Searchtext" type="text" placeholder="Tên sản phẩm">
                                        <button type="submit">
                                            <i class="fa fa-search"></i>
                                        </button>
                                    </div>
                                    @*<div class="input-group">
                                            <input id="Searchtext" name="Searchtext" type="text" class="form-control" placeholder="Tên sản phẩm">
                                            <div class="input-group-append">
                                                <button type="submit" class="btn btn-lg btn-outline-danger">
                                                    <i class="fa fa-search"></i>
                                                </button>
                                            </div>
                                        </div>*@
                                }

                            </form>
                        </div>

                    </div>

                    <!-- Product Grid -->

                    <div class="product-grid">

                        <!-- Product 1 -->
                        @if (Model != null && Model.Any())
                        {
                            foreach (var item in Model)
                            {
                                <!-- Product 1 -->
                                var strImge = "";
                                var img = item.ProductImage.FirstOrDefault(x => x.IsDefault);
                                if (img != null)
                                {
                                    strImge = img.Image;
                                }
                                <div class="product-item @item.ProductCategory.Alias">
                                    <div class="product discount product_filter">
                                        <div class="product_image">
                                            <img src="@strImge" alt="@item.Title">
                                        </div>
                                        <div class="favorite favorite_left"></div>
                                        @if (item.PriceScale > 0)
                                        {
                                            <div class="product_bubble product_bubble_right product_bubble_red d-flex flex-column align-items-center"><span>sale</span></div>
                                        }
                                        <div class="product_info">
                                            <h6 class="product_name"><a href="/chi-tiet/@item.Alias-p@(item.Id)" data-id="@item.Id">@item.Title</a></h6>
                                            @if (item.PriceScale > 0)
                                            {
                                                <div class="product_price">@CosmeticsStore.Common.Common.FormatNumber(item.PriceScale, 0)đ<span>@CosmeticsStore.Common.Common.FormatNumber(item.Price, 0)đ</span></div>
                                            }
                                            else
                                            {
                                                <div class="product_price">@CosmeticsStore.Common.Common.FormatNumber(item.Price, 0)đ</div>
                                            }
                                        </div>
                                    </div>
                                    @if (item.Quantity <= 0)
                                    {
                                        <div class="red_button add_to_cart_button"><a href="#">Hết Hàng</a></div>
                                    }
                                    else
                                    {
                                        <div class="red_button add_to_cart_button"><a href="#" class="btnAddToCart" data-id="@item.Id">Thêm vào giỏ hàng</a></div>
                                    }

                                </div>
                            }
                        }

                    </div>
                    <div class="row">
                        <div class="col-9"></div>
                        <div class="col-3" style="text-align:right;">
                            @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
                        </div>
                    </div>
                    <!-- Product Sorting -->
                    @*<div class="product_sorting_container product_sorting_container_bottom clearfix">
                            <ul class="product_sorting">
                                <li>
                                    <span>Show:</span>
                                    <span class="num_sorting_text">04</span>
                                    <i class="fa fa-angle-down"></i>
                                    <ul class="sorting_num">
                                        <li class="num_sorting_btn"><span>01</span></li>
                                        <li class="num_sorting_btn"><span>02</span></li>
                                        <li class="num_sorting_btn"><span>03</span></li>
                                        <li class="num_sorting_btn"><span>04</span></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>*@

                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script src="~/Content/assets/js/categories_custom.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

    <script>
        function initPriceSlider() {
            $("#slider-range").slider(
                {
                    range: true,
                    min: 0,
                    max: 5000000,
                    values: [0, 500000],
                    slide: function (event, ui) {
                        $("#amount").val("đ" + ui.values[0] + " - đ" + ui.values[1]);
                        $('#FromAmount').val(ui.values[0]);
                        $('#ToAmount').val(ui.values[1]);
                    }
                });

            $("#amount").val("đ" + $("#slider-range").slider("values", 0) + " - đ" + $("#slider-range").slider("values", 1));
        }
    </script>
}

