@model  IEnumerable<CosmeticsStore.Models.EF.OrderDetail>
@if (Model != null && Model.Any())
{
    int i = 1;
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>STT</th>
                <th>Tên sản phẩm</th>
                <th>Giá</th>
                <th>Số lượng</th>
                <th>Thành tiền</th>

            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@i</td>
                    <td>@item.Product.Title</td>
                    <td>@CosmeticsStore.Common.Common.FormatNumber(item.Price, 0)</td>
                    <td>@item.Quantity</td>
                    <td>@CosmeticsStore.Common.Common.FormatNumber((item.Price * item.Quantity), 0)</td>
                </tr>
                i++;
            }
        </tbody>
    </table>
    <div style="text-align:right">
        <a href="/orders/listorders" class="btn btn-lg btn-info">Quay Lại</a>
    </div>
    
}
