@model CosmeticsStore.Models.EF.News
@{
    ViewBag.Title = "Chi tiết tin tức";
}
<link rel="stylesheet" type="text/css" href="~/Content/assets/styles/main_styles.css">

<style>
    .news_section_container {
        margin-top: 180px;
    }

    .title-news {
        font-size: 30px;
        border-bottom: 1px solid;
        padding: 15px 0;
        margin-bottom: 25px;
    }

    .row-item-news {
        margin-bottom: 15px;
    }
</style>

<div class="container news_section_container">
    @if (Model != null)
    {
        <div class="row">
            <div class="col-md-12">
                <h5 class="title-news"><strong>@Model.Title</strong> </h5>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h5>@Model.Description</h5>

            </div>
            <div class="col-md-12">
                <div class="picture_center">
                    <img src="@Model.Image" alt="@Model.Image" width="700px">
                </div>
            </div>
            <div class="col-md-12">
                @Html.Raw(Model.Detail)
            </div>
        </div>
    }

</div>