@model PagedList.PagedList<CosmeticsStore.Models.EF.Posts>
@using PagedList.Mvc;
@using PagedList;
@{
    ViewBag.Title = "Index";

}
<link rel="stylesheet" type="text/css" href="~/Content/assets/styles/main_styles.css">

<style>
    .news_section_container {
        margin-top: 180px;
    }

    .title-news {
        font-size: 30px;
        border-bottom: 1px solid;
        padding: 15px 0;
        margin-bottom: 25px;
    }

    .row-item-news {
        margin-bottom: 15px;
    }
</style>

<div class="container news_section_container">
    <div class="row">
        <div class="col-md-12">
            <h1 class="title-news"> Bài Viết </h1>
        </div>
    </div>
    @if (Model != null && Model.Any())
    {
        foreach (var item in Model)
        {
            <div class="row row-item-news">
                <div class="col-md-3">
                    <div class="img-box"></div>
                    <a href="" title="@item.Title"><img src="@item.Image" width="260px" alt="@item.Title" /> </a>
                </div>
                <div class="col-md-9">
                    <div class="img-box"></div>
                    <h3><a href="bai-viet/@item.Alias-n@(item.Id)" title="@item.Title" style="color:black">@item.Title</a></h3>
                    <div class="description-box">
                        @item.Description
                    </div>
                </div>
            </div>
        }
        <div class="row">
            <div class="col-9"></div>
            <div class="col-3" style="text-align:right;">
                @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
            </div>
        </div>
    }

</div>